<h1><%= @recipe.name %></h1>
<hr>
  <div class="col-xs-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <p> <%= @recipe.calories %><br>
            <%= @recipe.servings %></p>
        </div>
      </div>
  </div>
