<h1><%= @recipe.name %></h1>
<hr>
  <div class="col-md-4 col-md-offset-4">
      <div class="thumbnail">
        <div class="caption">
          <p>Calories: <%= @recipe.calories %><br>
            Servings: <%= @recipe.servings %></p>
        </div>
      </div>
  </div>
