<h1>Create a New Meal Plan for: </h1>
<h3><%= "#{@day.date.strftime('%A, %B %d, %Y')}" %></h3>
<hr>
<%= bootstrap_form_for(:day_form,
             html: {id: 'day_form'},
             url: day_forms_path) do |f| %>

<%= render partial: "form", locals: { f: f } %>

<%= f.submit "Create Meal Plan" %>
<% end %>
