<h1> Meal Plan for: </h1>
  <h3><%= "#{@day.date.strftime('%A, %B %d, %Y')}" %></h3>
<hr>
  <% @recipes.each do |recipe| %>
    <h3><%= recipe.name %></h3><br>
  <% end %>
  <%= link_to "Edit Meal Plan", edit_user_day_path(@day.user, @day) %>
  <%= link_to "Delete Meal Plan", user_day_path(@day.user, @day), method: :delete %>
